#div{
  width:90%;
}

#inputstyle{
  width: 150px;
  position: absolute;
}


#user{
  color: black;
}


.room{
  width: 21%;
  height: 48%;
  float: left;
  display: inline-block;
  padding: 10%;
  margin: 30px;
  background-color: pink;
  padding:10px;
}

.mydiv {
  width: 70%;
  position: absolute;

}