#div{
  width:90%;
}
#divbox{
  width: 21%;
  display: inline-block;
  padding: 10%;
  margin: 30px;
  background-color: orange;
  padding:10px;
}

#inputstyle{
  width: 150px;
  position: absolute;
}


#user{
  color: black;
}